# all ingore
*

!/.gitignore

# GitHub Actions
!/.github
!/.github/workflows
!/.github/workflows/ci.yaml

!/install-neovim.sh

# Neovim
!/.nvim
!/.nvim/init.lua
!/.nvim/coc-setting.json

# Neovim Plugins
!/.nvim/lua
!/.nvim/lua/plugins.lua

# coc.nvim
!/.nvim/lua/coc
!/.nvim/lua/coc/init.lua
!/.nvim/lua/coc/extensions.lua

# fern.vim
!/.nvim/lua/fern
!/.nvim/lua/fern/init.lua

# fern-preview.vim
!/.nvim/lua/fern-preview
!/.nvim/lua/fern-preview/init.lua

# fern-renderer-nerdfont
!/.nvim/lua/fern-renderer-nerdfont
!/.nvim/lua/fern-renderer-nerdfont/init.lua

# vim-airline
!/.nvim/lua/vim-airline
!/.nvim/lua/vim-airline/init.lua

# fzf-preview.vim
!/.nvim/lua/fzf-preview
!/.nvim/lua/fzf-preview/init.lua

# vim-sayonara
!/.nvim/lua/vim-sayonara
!/.nvim/lua/vim-sayonara/init.lua

!/.tig
!/.tig/.tigrc

# ripgrep
!/.ripgrep
!/.ripgrep/.ripgreprc

# comfortable-motion
!/.nvim/lua/comfortable-motion
!/.nvim/lua/comfortable-motion/init.lua

# rust-lang/rust.vim
!/.nvim/lua/rust-vim
!/.nvim/lua/rust-vim/init.lua